<!DOCTYPE html>
<head>
	<title>Ericka &amp; Andrew | Travel</title>
	<link rel="shortcut icon" type="image/png" href="/images/heart-clipart.png"/>
<body>
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="other-header">
		<a href='/'><h1>Ericka <img src="/images/heart-clipart.png"> Andrew</h1></a>
	</div>


	<nav class="navbar navbar-default navbar-fixed-top hidden">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
				<!-- <a href="#" class="navbar-brand">Ericka and Andrew</a> -->
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="/">HOME</a></li>
					<li><a href="/rsvp">RSVP</a></li>
					<li><a href="/photos">PHOTOS</a></li>
					<li><a href="/events">EVENTS</a></li>
					<li><a href="/wedding-party">WEDDING PARTY</a></li>
					<li><a href="/travel">TRAVEL</a></li>
					<li><a href="/registry">GIFT REGISTRY</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#heading" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
			<!-- <a href="#" class="navbar-brand">Ericka and Andrew</a> -->
		</div>
		<div class="collapse navbar-collapse" id="heading">
			<ul id="links">
				<li><a href="/">HOME</a></li>
				<li><a href="/rsvp">RSVP</a></li>
				<li><a href="/photos">PHOTOS</a></li>
				<li><a href="/events">EVENTS</a></li>
				<li><a href="/wedding-party">WEDDING PARTY</a></li>
				<li><a href="/travel">TRAVEL</a></li>
				<li><a href="/registry">GIFT REGISTRY</a></li>
			</ul>
		</div>
	</div>
	
	<div class="largeDivider" style="height:50px;background-image:url(https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_LargeDivider.png);background-size:auto 50px;background-position:center center;background-repeat:repeat-x;" data-reactid="96"></div>
	<div class="container">
		<div id="travel">
			<h2>Travel</h2>
			<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>
		</div>
		<div class="hotel">
			<h3>Hilton Garden Inn*</h3>
			<p>Group Rate - $85</p>
			<p>3201 Sage Rd, Houston, TX 77056</p>
			<p>(713) 629-0101</p>
			<p><a href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/H/HOUGHGI-KCWED-20180316/index.jhtml?WT.mc_id=POG" target="_blank">Make Reservation</a></p>
			<p><small>*Transportation will be provided to and from the wedding</small></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Hotel Indigo</h3>
			<p>5160 Hildago St, Houston, TX 77056</p>
			<p>(713) 621-8988</p>
			<p><a href="https://www.ihg.com/hotelindigo/hotels/us/en/houston/houhs/hoteldetail?cm_mmc=GoogleMaps-_-IN-_-US-_-HOUHS" target="blank">Visit Website</a></p>
		</div>
		
		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Embassy Suites</h3>
			<p>2911 Sage Rd, Houston, TX 77056</p>
			<p>(713) 626-5444</p>
			<p><a href="http://embassysuites3.hilton.com/en/hotels/texas/embassy-suites-by-hilton-houston-near-the-galleria-HOUESES/index.html" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Double Tree Hotel &amp; Suites</h3>
			<p>5353 Westheimer Rd, Houston, TX 77056</p>
			<p>(713) 961-9000</p>
			<p><a href="http://www.doubletreesuiteshouston.com/" target="blank">Visit Website</a></p>
		</div>
		<br>
		<br>

		<div id="things-to-do">
			<h2>Things To Do</h2>
			<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>
		</div>

		<div class="hotel">
			<h3>Houston Livestock Show &amp; Rodeo</h3>
			<p>3 NRG Pkwy, Houston, TX 77054</p>
			<p><a href="http://www.rodeohouston.com/" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>The Galleria</h3>
			<p>5085 Westheimer Rd, Houston, TX 77056</p>
			<p><a href="http://www.simon.com/mall/the-galleria" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Houston Zoo</h3>
			<p>6200 Hermann Park Dr, Houston, TX 77030</p>
			<p><a href="https://www.houstonzoo.org/" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Hermann Park</h3>
			<p>6001 Fannin St, Houston, TX 77030</p>
			<p><a href="https://www.hermannpark.org/" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Houston Museum of Natural Science</h3>
			<p>5555 Hermann Park Dr, Houston, TX 77030</p>
			<p><a href="http://www.hmns.org/" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Karbach Brewery</h3>
			<p>2032 Karbach St, Houston, TX 77092</p>
			<p><a href="http://karbachbrewing.com/" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>8th Wonder Brewery</h3>
			<p>2202 Dallas St, Houston, TX 77003</p>
			<p><a href="http://8thwonderbrew.com/" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Lopez Mexican Restaurant</h3>
			<p>11606 Wilcrest Dr, Houston, TX 77099</p>
			<p><a href="http://www.vivalopez.com/menu/" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Ragin' Cajun</h3>
			<p>4302 Richmond Ave, Houston, TX 77027</p>
			<p><a href="http://ragin-cajun.com/restaurant/" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<!-- <div class="hotel">
			<h3>Barry's Pizza</h3>
			<p>6003 Richmond Ave, Houston, TX 77057</p>
			<p><a href="http://www.barryspizza.com/home" target="blank">Visit Website</a></p>
		</div>

		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div> -->

		<div class="hotel">
			<h3>Goode Company Armadillo Palace</h3>
			<p>5015 Kirby Dr, Houston, TX 77098</p>
			<p><a href="http://www.thearmadillopalace.com/" target="blank">Visit Website</a></p>
		</div>

<!-- 		<div class="smallDivider" style="display: inline-block; margin: 0 auto; height: 50px; width: 100%; background-image: url(&quot;https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_SmallDivider_u26sLqo.png&quot;); background-size: contain; background-position: center center; background-repeat: no-repeat;"></div>

		<div class="hotel">
			<h3>Hungry's</h3>
			<p>2356 Rice Boulevard, Houston, TX 77005</p>
			<p><a href="http://www.hungryscafe.com/" target="blank">Visit Website</a></p>
		</div> -->

	</div>

	<div class="largeDivider" style="height:50px;background-image:url(https://d3t14gfu9ehll4.cloudfront.net/themes/e5d8f5c4-878f-410b-84dd-6842ee8b93f6/root_LargeDivider.png);background-size:auto 50px;background-position:center center;background-repeat:repeat-x;" data-reactid="96"></div>
	<div class="footer">
		<p>#CoulterFindsHisKanon</p>
	</div>

	

	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/js/other.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>